@import "bootstrap.min.css";

.btn-primary{
	width: 220px;
	height: 60px;
	border: 0px;
	border-radius: 8px;
	padding: 16px;
	background-color: white;
	color: black;
}

.btn-secondary {
	width: 60px;
	height: 60px;
	border: 0px;
	border-radius: 8px;
	padding: 16px;
	background-color: white;
	color: black;
}

.disabled {
	width: 220px;
	height: 60px;
	border: 0px;
	border-radius: 8px;
	padding: 16px;
	background-color: white;
	color: black;
}

.row {
	width: 220px;
	height: 60px;
	margin: 20px 0px 20px 0px;
}

div.col-rect {
	width: 260px;
	height: 70px;
	margin: 0;
}

div.col-square {
	width: 60px;
	height: 60px;
	margin-right: 20px;
}